fastapi
uvicorn[standard]
gunicorn
python-multipart
pydantic
requests
python-dotenv
easyocr
opencv-python-headless
pillow
pypdf2
fuzzywuzzy
python-Levenshtein
gtts
google-generativeai
groq
openpyxl
